.container {
  background-image: url('/icons/office/lightgreenbg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'font', sans-serif;
  padding: 1.5rem 0.5rem;
  gap: 1rem;
}


.radioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.radioContainer input[type="radio"] {
  width: 24px;
  height: 24px;
  accent-color: #ffcc66;
}

.radioContainer img {
  width: 50px;
  height: 50px;
}

.radioContainer label {
  font-size: 1.2rem;
  margin: 0 1rem;
  color: #000;
  font-weight: bold;
}

.dividerLine {
  width: 80%;
  max-width: 700px;
  height: 4px;
  background-color: #6c8c6b;
  margin: 1.5rem auto 1.2rem auto;
  border-radius: 2px;
}


.emotionContainer img {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  object-fit: contain;
  transition: transform 0.2s;
}

.emotionContainer img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.caution {
  display: block;
  white-space: pre-line;
  text-align: left;
  font-size: 1rem;
  margin: 1.5rem 2rem 0 2rem;
}

.flexGrowWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.letterInput {
  background-image: url('/icons/office/letterbg.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  resize: none;
  width: 90%;
  max-width: 600px;
  height: 520px;
  padding: 5rem 3rem 3rem 3rem;
  font-size: 1.2rem;
  font-family: 'font', sans-serif;
  line-height: 1.8;
}

.letterInput::placeholder {
  color: #999;
  font-size: 1rem;
}

.letterInputCount {
  text-align: right;
  margin-top: 0.5rem;
  margin-right: 5%;
  font-size: 1rem;
  color: #717171;
}

.completeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 700px;
  margin-top: 1rem;
}

.completeButton {
  width: 80px;
  height: 80px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.completeButton:hover {
  transform: scale(1.05);
}

.rewardText {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  white-space: pre-line;
  margin-left: 1rem;
}

.noticeContainer {
  width: 90%;
  max-width: 600px;
  margin-top: 1rem;
  font-size: 1rem;
  color: #333;
  line-height: 1.7;
}
.notice {
  margin-bottom: 1.2rem;
}
.reward {
  font-weight: normal;
}

@font-face {
  font-family: 'font';
  src: url('/font/font.ttf') format('truetype');
}
