.container {
  height: 100dvh;
  background-color: var(--apricot-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 7rem;
  margin-bottom: 1rem;
}

.logoImage {
  height: 40rem;
  width: auto;
}

.formContainer {
  width: 80%;
}

.input {
  width: 100%;
  margin-top: 1rem;
  box-sizing: border-box;
}

.loginButton {
  width: 100%;
  margin: 2rem 0;
  background-color: var(--apricot-border-color);
  color: var(--text-primary-color);
  font-size: 3rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.loginButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

a {
  font-size: 2rem;
  color: var(--text-primary-color);
  text-decoration: underline;
  margin-top: 0.5rem;
}

.labelContainer {
  /* width: 100%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.label {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
}

/* group for gender + status to sit in a single row */
.genderStatusRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  margin-top: 2rem;
}

.genderStatusRow > .labelContainer {
  flex: 1 1 0;
}

.ageLabel {
  font-size: 3rem;
}

.radioContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  margin-top: 2rem;
}
.radioLabelContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputWithToggle {
  position: relative;
  width: 100%;
}

.inputWithToggle > .input {
  padding-right: 6rem; /* leave space for the toggle */
}

.toggleButton {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  background: transparent;
  border: none;
}

.toggleButton img {
  width: 3rem;
  height: 3rem;
}

.link {
  align-self: flex-end;
  margin-right: 12%;
  font-size: 2.5rem;
}
