.container {
  display: flex;
  align-items: center;
  padding: 3rem;
}

.backButton {
  margin-right: auto;
  width: 4rem;
  height: 4rem;
}
.title {
  flex-grow: 1;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}
.nextButtonContainer {
  margin-left: auto;
  width: 4rem;
  height: 4rem;
  z-index: 505;
}

.nextButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nextButton img {
  width: 150px;
  height: 150px;
}
